# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

Objectives: **To get more understanding of data science tools**
* Julia
* Ruby
* Scala

Some of the commonly used libraries used by Data Scientists include:
* pandas
* scikit-learn
* matplotlib

|Data Science Tools|
|--|
|apache airflow|
|apache superset|
|spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5

17

In [10]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

## Author
Ahmad Zaenal